body {
    font-family: Helvetica;
}

#player-one-score {
    font-style:italic;
    color:blue;
}

#player-two-score {
    font-style:bold;
    color:red;
    }
    
.player-one-name{
    color:blue;
    font-size:30px;
    font-family:fantasy;
    
     
}

.player-two-name{
    color:orange;
    font-size:30px;
    font-family:cursive;
}